body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Intan';
  font-style: normal;
  font-weight: normal;
  src: local('intan'), url('./font/Intan.woff') format('woff');
  }

  
@font-face {
  font-family: 'khujas';
  font-style: normal;
  font-weight: normal;
  src: local('kujas'), url('./font/khujas.otf') format('opentype');
  }
  .hero {
    font-family: Intan;
  }

  .side {
    font-family:seriVerdana, Geneva, Tahoma, sans-f;
  }

  .spec {
    font-family: khujas;
  }
  @keyframes float {
    0% {
     
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-20px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }
  @keyframes floatdown {
    0% {
      
      transform: translatey(-5px);
    }
    50% {
      
      transform: translatey(0px);
    }
    100% {
      
      transform: translatey(-5px);
    }
  }

  .float {
    animation: float 6s ease-in-out infinite;
  }

.post {
  height: 530px;
  width: 720px;
}